* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 1rem;
}

.container {
    height: 100vh;
    width: 100vw;
}

/* Screen - SPA */

#screen1 {
    height: 100vh;
    width: 100vw;
}

#screen2,
#screen3,
#screen4,
#screen5,
#screen6 {
    display: none;
    height: 100vh;
    width: 100vw;
}

.screen1-title,
.screen1-select,
.screen1-ready,
.screen1-game,
.screen1-restart {
    height: 100%;
    width: 100%;
}

.screen1-title {
    background-color: red;
}
.screen1-select {
    background-color: green;
}
.screen1-ready {
    background-color: blue;
}
.screen1-game {
    background-color: cyan;
}
.screen1-restart {
    background-color: magenta;
}