@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.center {
    align-items: center; 
    justify-content: center;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

/* SPA */

#screen1 {
    height: 100vh;
    width: 100vw;
}

#screen2,
#screen3,
#screen4,
#screen5,
#screen6 {
    display: none;
    height: 100vh;
    width: 100vw;
}

.screen1-title,
.screen2-select,
.screen3-ready,
.screen4-game,
.screen5-restart {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Screen1 - Title */

h1 {
    font-family: 'Luckiest Guy', cursive;
    color: rgb(19, 71, 8);
}

.screen1-title {
    background-color: #C0CD28;
}

/* Screen2 - Selection */

.screen1-select {
    background-color: green;
}

.screen3-ready {
    background: blue no-repeat;
}

.selectPlayerTitle {
    background-color: blueviolet;
    gap: 15%;
    height: 20%;
    width: 100%;
}

.selectPlayerTitle h1 {
    font-size: 70%;
}

.selectPlayerTitle h2 {
    font-size: 60%;
}

.selectCharacter {
    height: 50%;
    width: 100%;
}

.selCharRow1, .selCharRow2 {
    height: 50%;
    width: 100%;
}

.character1,
.character2,
.character3,
.character4 {
    background-color: coral;
    height: 80%;
    width: 25%;
    margin: 1%;
}

.character5,
.character6,
.character7,
.character8 {
    background-color: forestgreen;
    height: 80%;
    width: 25%;
    margin: 1%;
}

.selection {
    filter: grayscale(90%);
}

.selectCharacter img {
    height: 100%;
    width: 100%;
}

.selectConfirm {
    background-color: orange;
    height: 30%;
    width: 100%;
}

/* Screen3 - Ready */

.screen3-ready {
    background-color: blue;
}

.screen3-row1,
.screen3-row2 {
    display: flex;
    flex-direction: row;
    margin: 3em;
}

.screen3-characters {
    width: 80%;
}

.char1,
.char2,
.char3,
.char4 {
    display: flex;
    flex-direction: row;
}

#sel1-img img,
#sel2-img img,
#sel3-img img,
#sel4-img img {
    width: 10em;
    margin: 1em;
}

/* Screen4 - Game */

.screen4-game {
    background-color: cyan;
}

.finish {
    background-color: green;
    height: 10%;
    width: 100%;
    justify-content: space-evenly;
}
.finish-p1,
.finish-p2,
.finish-p3,
.finish-p4 {
    border: 5px solid orange;
    width: 25%;
}

.race {
    background-color: black;
    height: 65%;
    width: 100%;
}
.race-p1,
.race-p2,
.race-p3,
.race-p4 {
    justify-content: center;
    border: 5px solid orange;
    width: 25%;
}
#racer1-img img,
#racer2-img img,
#racer3-img img,
#racer4-img img {
    height: 5em;
    border-top: 3px solid rgba(255, 0, 0, 0.5);
    margin-top: 25em;
}
.start {
    background-color: red;
    height: 10%;
    width: 100%;
}
.start-p1,
.start-p2,
.start-p3,
.start-p4 {
    border: 5px solid orange;
    width: 25%;
}
.info {
    background-color: yellowgreen;
    height: 15%;
    width: 100%;
}
.info-p1,
.info-p2,
.info-p3,
.info-p4 {
    border: 5px solid orange;
    width: 25%;
}

/* Screen5 - Retry */

.screen5-restart {
    background-color: magenta;
}